*{
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
}

*:focus{
    outline: none;
}

::-webkit-input-placeholder { color:#CFCFCF; }
::-moz-placeholder { color:#CFCFCF; } /* firefox 19+ */
:-ms-input-placeholder { color:#CFCFCF; } /* ie */
input:-moz-placeholder { color:#CFCFCF; }

input{
    user-select: text;
    
    &.required::-webkit-input-placeholder {
        color: #cacaca;
    }
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}

.hidden{
    display: none;
}

.bold{
    font-weight: bold;
}

$border1: 1px solid #E6E6E6;

.height40{
    height: 4rem;
}

.height30{
    height: 3rem;
}

.grey14{
    font-size: 1.4rem;
    color: #808080;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
    background: #EFEFF4;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;    
    -webkit-tap-highlight-color: transparent;
    font-size: 1.6rem;
}

$headerFooterBgColor: #1B2431;
$headerHeight: 4.4rem;
$footerHeight: 5rem;
$leftRight16: 0 1.6rem;

.pt-hh{
    padding-top: $headerHeight;
    padding-bottom: $footerHeight + 0.5rem;
}

.pt-hh-ios{
    padding-top: $headerHeight + 2rem;
    // padding-bottom: $footerHeight + 0.5rem;
    padding-bottom: 1.5rem;
}

.content_block{
    background: #FFFFFF;
    margin-top: 1.3rem;
    padding: $leftRight16;
    border-bottom: $border1;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: $border1;

    &:last-child {
        border-bottom: 0;
    }

    .row_left{
        flex: 1;
        text-align: left;
    }

    .row_right{
        // text-align: right;

        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
    }
}

@mixin comm_icon{
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background-repeat:no-repeat;
    background-size: 1.3rem 1.3rem;
    margin-left: 0.8rem;
}

.go_icon{
    @include comm_icon;

    width: 0.8rem;
    height: 1.3rem;
    background-size: 0.8rem 1.3rem;
    background-image: url(../imgs/go.png);
}

.edit_icon{
    @include comm_icon;
    background-image: url(../imgs/edit.png);
    height: 1.5rem;
    width: 1.5rem;
    background-size: 100% 100%;
    vertical-align: middle;
}

.add_icon{
    @include comm_icon;
    background-image: url(../imgs/add.png);
}

.sub_icon{
    @include comm_icon;
    background-image: url(../imgs/sub.png);
}

.confirm_container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    .confirm_win{
        padding-top: 1px;
        background: #FFFFFF;
        // width: 27rem;
        width: 80%;
        border-radius: 1.2rem;

        .title{
            text-align: center;
            margin-top: 1.8rem;
        }

        .content{
            margin: 2.4rem 1.5rem 0 1.5rem;
            font-size: 1.4rem;
            line-height: 1.4;
        }

        .btns{
            margin-top: 2.4rem;
            border-top: $border1;
            height: 4.4rem;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;

            .btn{
                flex: 1;
                width: 100%;
                height: 100%;
                color: #0076FF;
                text-align: center;
                line-height: 4.4rem;
                display: block;
            }

            .btn + .btn{
                border-left: $border1;
            }
        }
    }
}

.ios_head{
    height: 2rem;
}

.header{
    z-index: 100;
    // user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // background: $headerFooterBgColor;
    background: #F8F8F8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);
    
    .dft_head{
        height: $headerHeight;
        padding: $leftRight16;
        font-size: 1.6rem;
        color: #404040;

        display: flex;
        align-items: center;
        justify-content: center;

        .header-right{
            opacity: 0.5;
        }

        .link{
            display: inline-block;

            .icon-back{
                display: inline-block;
                width: 1.1rem;
                height: 1.9rem;
                background-repeat:no-repeat;
                background-size: 1.1rem 1.9rem;
                background-image: url(../imgs/back.png);
            }

            .icon-delete{
                display: inline-block;
                width: 1.9rem;
                height: 1.9rem;
                background-repeat:no-repeat;
                background-size: 1.9rem 1.9rem;
                background-image: url(../imgs/delete.png);
            }
        }

        h1{
            flex: 1;
            margin: 0;
            text-align: center;
            font-size: 1.8rem;
        }
    }
}

.footer{
    z-index: 100;
    // user-select: none;
    // background: $headerFooterBgColor;
    height: $footerHeight;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: table;
    
    background: #FFFFFF;
    box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.08);

    .menu{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 1rem;
        color: #CECED2;

        .light{
            color: #5AC8FA;
        }

        .icon{
            margin: 0 auto;
            width: 2.4rem;
            height: 2.4rem;
            background-repeat:no-repeat;
            background-size: 2.4rem 2.4rem;
            margin-bottom: 0.4rem;
        }

        .search_icon{
            background-image: url(../imgs/search.png);
        }
        .search_icon_light{
            background-image: url(../imgs/search-light.png);
        }
        .input_icon{
            background-image: url(../imgs/input.png);
        }
        .input_icon_light{
            background-image: url(../imgs/input-light.png);
        }
        .follow_icon{
            background-image: url(../imgs/follow.png);
        }
        .follow_icon_light{
            background-image: url(../imgs/follow-light.png);
        }
    }
}

.search_main {
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    .cell {
        .cell_primary {
            font-size: 1.4rem;
        }
    }
}

.search_type{
    //height: 3.8rem;
    //line-height: 3.8rem;
    font-size: 1.4rem;
    color: #4A4A4A;
    padding-top: 1.2rem;
    padding-bottom: 1rem;

    .radio_item{
        margin-right: 1.4rem;
        display: inline-block;
        vertical-align: middle;

        label {
            vertical-align: middle;
            display: inline-block;
            line-height: 1.6rem;
        }

        input[type=radio]{
            vertical-align: middle;
            width: 1.6rem;
            height: 1.6rem;
            background-image: url(../imgs/radio-none.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            appearance: none;
            margin-right: .5rem;

            &:checked{
                background-image: url(../imgs/radio-checked.png);
            }
        }
    }
}

.search_input_filter{
    //height: 3.6rem;
    display: flex;

    .input{
        flex: 1;
        height: 3.6rem;
        background: #FFFFFF;
        border: 1px solid #E4E4E4;
        border-radius: 0.3rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .search_icon{
            display: inline-block;
            background-image: url(../imgs/input-search.png);
            width: 2rem;
            height: 2rem;
            background-repeat:no-repeat;
            background-size: 2rem 2rem;
            margin-right: 0.8rem;
            vertical-align: middle;
        }

        input{
            height: 3.6rem;
            font-size: 1.4rem;
            color: #CFCFCF;
            background: #FFFFFF;
            border: 0;
        }

        .fake_input {
            color: #CFCFCF;
            vertical-align: middle;
            line-height: 3.4rem;
        }
    }

    .filter{
        //width: 5rem;
        text-align: center;
        font-size: 1rem;
        color: #404040;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        margin-right: -1.6rem;
        height: 3.6rem;
        overflow-y: hidden;

        .icon{
            width: 1.6rem;
            height: 1.6rem;
            background-repeat:no-repeat;
            background-position: center;
            background-size: 1.6rem 1.6rem;
            margin: 0.3rem auto 0.7rem;
            background-image: url(../imgs/filter.png);
        }
    }
}

$cellBorder: 1px solid #E6E6E6;

.cells_title{
    height: 3.9rem;
    line-height: 3.9rem;
    font-size: 1.6rem;
    color: #404040;
    font-weight:bold;
    border-bottom: $cellBorder;
}

.cell{
    height: 4rem;
    line-height: 4rem;
    border-bottom: $cellBorder;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:last-child {
        border-bottom: 0;
    }

    .cell_primary{
        flex: 1;
        font-size: 1.6rem;
        color: #404040;
        white-space: nowrap;
    }

    .cell_ft{
        text-align: right;
        font-size: 1.6rem;
        color: #808080;
        // display: flex;
        // align-items: center;
        // justify-content: flex-end;
        padding-left: 1rem;
        box-sizing: border-box;
    }

    .ft_flex{
        flex: 3;
        overflow: scroll;
        white-space: nowrap;
    }

    // 允许显示多行
    &.multiline {
        line-height: 1.4;
        box-sizing: border-box;
        padding-top: .5rem;
        padding-bottom: .5rem;
        min-height: 4rem;
        height: auto;

        .cell_primary {
            white-space: normal;
        }
    }
}

.border-none{
    border: 0;
}

.search_input_container{
    background: #F0EFF5;
  
    .ios_head,
    .search_input {
        background-color: #F8F9F9;
    }
}

.search_input{
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $leftRight16;
    border-bottom: 1px solid #D8D8D8;

    .input{
        flex: 1;
        background: #FFFFFF;
        border: 1px solid #E4E4E4;
        border-radius: 0.3rem;
        height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        text-align: left;

        .search_icon{
            display: inline-block;
            background-image: url(../imgs/input-search.png);
            width: 2rem;
            height: 2rem;
            background-repeat:no-repeat;
            background-size: 2rem 2rem;
            margin: 0 0.8rem;
            vertical-align: middle;
        }

        input{
            display: block;
            flex: 1;
            height: 3.2rem;
            font-size: 1.4rem;
            // color: #CFCFCF;
            background: #FFFFFF;
            border: 0;
        }

        .clear_icon{
            display: inline-block;
            vertical-align: middle;
            background-image: url(../imgs/clear.png);
            width: 2rem;
            height: 2rem;
            background-repeat:no-repeat;
            background-size: 2rem 2rem;
            margin: 0 0.8rem;
        }
    }

    .cancel{
        font-size: 1.6rem;
        color: #606060;
        margin-left: 1.6rem;
    }
}

.input_result{
    margin: $leftRight16;

    .cell_primary {
        width: 100%;
        
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.bold16{
    font-size: 1.6rem;
    font-weight: bold;
}

.yellow{    
    background: #FECE5F;
}
.green{
    background: #31CDAC;
}

.btn-ft{
    display: inline-block;
    width: 6.4rem;
    height: 2.4rem;    
    line-height: 2.4rem;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 1.4rem;
    color: #FFFFFF;
}

.cell{
    .desc{
        font-size: 1.4rem;
        color: #808080;
    }
}

.need_title{
    text-align: center;
    line-height: 3.9rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #202228;
}

.select_ft{
    appearance: none;
    font-size: 1.6rem;
    color: #808080;
}

.input_title_tip{
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #606060;
    margin-top: 0.7rem;
    margin-right: 1.6rem;
    text-align: right;
}

.input_form{

    .input_flex,
    .select_flex {
        flex: 3;
        max-width: 70%;
        min-width: 58%;
    }

    .input{
        width: 100%;
        height: 4rem;
        font-size: 1.4rem;
        color: #808080;
    }

    .select{
        width: 100%;
        height: 4rem;
        line-height: 4rem;
        font-size: 1.4rem;

        background-repeat:no-repeat;
        background-size: 0.8rem 1.3rem;
        background-image: url(../imgs/go.png);
        background-position: center right;

        background-color: #FFFFFF;
        border: 0;
    }

    &.pt-hh-android {
        .select,
        .input {
            line-height: 4rem;
        }
    }
}

.form_btns{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn{
        display: inline-block;
        width: 11rem;
        height: 4rem;
        line-height: 4rem;
        border-radius: 0.3rem;
        text-align: center;
        font-size: 1.6rem;
        color: #FFFFFF;
        background: #6FBDF8;
        border: 1px solid #66B3EE;
    }

    .big_btn{
        width: 22rem;
    }

    .left_btn{
        background: #FFFFFF;
        border: 1px solid #D4D4D4;
        color: #606060;
        margin-right: 4rem;
    }
}

.input_pic{
    text-align: center;

    .title{
        margin-top: 1.6rem;
        margin-bottom: 0.8rem;
    }

    /* .pic{
        display: inline-block;
        width: 26rem;
        height: 18rem;
        background-repeat:no-repeat;
        background-size: 26rem 18rem;
    } */

    .img{
        width: 26rem;
        height: 18rem;
    }

    .img_out{
        width: 100%;
        height: 18rem;

        .img_inn{
            // border: 1px solid grey;
            display: inline-block;
            width: 26rem;
            height: 100%;

            background-repeat:no-repeat;
            background-size:contain;
            background-position:center;
            // background-image: url(../imgs/business-card.png);
        }
    }

    /* .business-card{
        background-image: url(../imgs/business-card.png);        
    }

    .visit-photo{
        background-image: url(../imgs/visit-photo.png);
    } */
}

.pb_ft{
    padding-bottom: $footerHeight + 1.5rem;
}

.red{
    color: red;
}


/**
 * company details specify css: cell style
 */
.content_block-company_details {
    .cell {
        box-sizing: border-box;
        line-height: 1.5;
        min-height: 4rem;
        height: auto;
        padding-top: .8rem;
        padding-bottom: .8rem;
    }

    .cell_primary {
        min-width: 25%;
    }

    .cell_ft {
        text-align: justify;
        white-space: normal;
        max-width: 75%;
    }
}

/* EOF - company details cell style */

/**
 * fix ios bug:
 * position: fixed 在键盘弹出时失效的问题
 */

.pt-hh-ios {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    + footer {
        position: absolute;
    }
}

/* EOF - fix ios bug */

.fz14{
    font-size: 1.4rem;
}


/**
 * search module cell style
 */

.cell_search {
    .cell_primary {
        max-width: 70%;
        width: 70%;

        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .cell_ft {
        flex: 1;
    }
}

/* EOF - search module cell style */


/**
 * project details styles
 */

.content_block-project_progress {
    .row {
        &.height30 {
            height: auto;
            min-height: 3rem;
            box-sizing: border-box;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }

    .row_left {
        min-width: 22.5%;
    }

    .row_right {
        display: block;
        line-height: 1.4;
    }
}

/* EOF - project details styles */

.add_subj{
    font-size: 1.4rem;
    line-height: 2rem;
    color: #808080;
    margin-top: 0.5rem;
    margin-right: 1.6rem;
    text-align: right;
}


/**
 * cell_filter-result 筛选结果
 */

.cell_filter-result {
    .cell {
        .cell_primary {
            width: 100%;

            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

/* EOF - cell_filter-result */


/**
 * need_comp
 */

.need_comp {
    .btn-ft {
        height: 3rem;
        line-height: 3rem;
    }
}

/* EOF - need_comp */

/* loading */
.loading_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 25%;
        max-width: 25%;
        height: 200px;
        align-items: center;
        justify-content: center;
    }
}

@keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

.line-spin-fade-loader {
    position: relative;

    div {
        background-color: #fff;
        width: 4px;
        height: 35px;
        border-radius: 2px;
        margin: 2px;
        animation-fill-mode: both;
        position: absolute;
        width: 5px;
        height: 15px;

        &:nth-child(1) {
            top: 20px;
            left: 0;
            animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out; }
        &:nth-child(2) {
            top: 13.63636px;
            left: 13.63636px;
            transform: rotate(-45deg);
            animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out; }
        &:nth-child(3) {
            top: 0;
            left: 20px;
            transform: rotate(90deg);
            animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out; }
        &:nth-child(4) {
            top: -13.63636px;
            left: 13.63636px;
            transform: rotate(45deg);
            animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out; }
        &:nth-child(5) {
            top: -20px;
            left: 0;
            animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out; }
        &:nth-child(6) {
            top: -13.63636px;
            left: -13.63636px;
            transform: rotate(-45deg);
            animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out; }
        &:nth-child(7) {
            top: 0;
            left: -20px;
            transform: rotate(90deg);
            animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out; }
        &:nth-child(8) {
            top: 13.63636px;
            left: -13.63636px;
            transform: rotate(45deg);
            animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out; }
    }
}
/* loading */